<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title><%= username %> Profile</title>
</head>
<body>
  <%- include("includes/navbar") %>
  <h1>@<%= username %></h1>
  <h2><%= data.name %></h2>

  <p>Followers: <%= data.followers %></p>
  <p>Following: <%= data.following %></p>

  <h3>Posts</h3>
  <ul>
    <% for (let post of data.posts) { %>
      <li><%= post %></li>
    <% } %>
  </ul>
  <%- include("includes/footer") %>
</body>
</html>